<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/admindashboard.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Internship Portal</title>
  </head>
  <body style="background-color: #ffe4e1">
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
      <div class="wrap"></div>
      <div class="container-fluid all-show">
        <a class="navbar-brand" href="#" style="color: #c1c8e4">
          <img
            src="..\static\img\VIT.png"
            width="70"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          VIT Internship Portal
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"> Home</i></a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="/newinternship"
                ><i class="fa fa-plus"> New Internship</i></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile"
                ><i class="fa fa-user"> User</i></a
              >
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/search"
                ><i class="fa fa-search"> Search</i></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard"
                ><i class="fa fa-upload"> Upload Data</i></a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/aboutus"
                ><i class="fa fa-info-circle"> About Us</i></a
              >
            </li>

            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/login"
                ><i class="fa fa-sign-in"> Login</i></a
              >
            </li>
            {% endif %} {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i class="fa fa-sign-out"> Logout</i></a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <center>
      <h2 style="font-style: italic; margin-top: 5%">
        Admin Dashboard to upload Excel Sheets of Student Information
      </h2>
      <h5>
        <a href="/excelformatdownload">Click here to download Excel Format</a>
      </h5>
    </center>
    <div class="container">
      <div>
        <div>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div
            class="flashes"
            style="
              font: sans-serif;
              text-align: center;
              color: #fff;
              font-style: italic;
            "
          >
            {% for message in messages %}
            <h6>{{ message }}</h6>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
        </div>
        <form method="POST" enctype="multipart/form-data">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              <input type="file" multiple name="Excel" />
              <p>Drag your files here or click in this area.</p>
            </div>
          </div>
          <p></p>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
              
            </div>
          </div>
          
      </div>
      <p></p>
      <button type="submit" formaction="/admin/dashboard">
        Upload
      </button>
    </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $("form input").change(function () {
          $("form p").text(this.files.length + " file(s) selected");
        });
      });
    </script>
  </body>
</html>
