<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Internship Portal</title>
  </head>
  <body>
    <div class= 'container'>
      <div class="container_content">
      <div class="container_content_inner">
      <div class="title">
        <h1>Internship Portal</h1>
      </div>
      <div class="par">
      <p>
      One Stop For All your Internship Data!
      </p>
      </div>
      <form method="GET">
        <div class="btns">
        {% if not current_user.is_authenticated %}
        <button class='btns_more' formaction="/login"> Student Login</button>
        <button class='btns_more' formaction="/admin/login"> Admin Login </button>
        {% endif %} 
        
        {% if current_user.is_authenticated %} 

        {% if not current_user.role == "admin" %}
        <button class='btns_more' formaction="/newinternship">New Internship</button>
        <button class='btns_more' formaction="/profile/{{current_user.id}}"> Profile</button>
        {% endif %} 
        {% if current_user.role == "admin" %}
        <button class='btns_more' formaction="/search">Search</button>        
        <button class='btns_more' formaction="/admin/dashboard">Upload Data</button>
        {% endif %}

        {% endif %} 

        <button class='btns_more' formaction="/aboutus"> About Us</button> 

        {% if current_user.is_authenticated %}
        <button class='btns_more' formaction="/logout"> Log Out </button>
        {% endif %} 

        </div>
      </form>
      </div>
      </div>
       <div class="container_outer_img">
       <div class="img-inner">
       <img src='../static/img/Library.jpg'  alt="" class="container_img"/>
             </div>
           </div>
        </div>
      <div class="overlay"></div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script>
      let c = 45;
    function draw(){
    x = document.getElementById("cv");
    x.style.setProperty('--direction', c++ + 'deg');
    requestAnimationFrame(draw);
    }

    requestAnimationFrame(draw);
    </script>
  </body>
</html>
