<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Internship Portal</title>
  </head>
  <body style="background-color: #e8cebf">
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
      <div class="wrap"></div>
      <div class="container-fluid all-show">
        <a class="navbar-brand" href="#" style="color: #266150"
          >Internship Portal</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newinternship.html">New Internship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#"
                ><i class="fa fa-search"> Search</i></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container emp-profile">
      <form method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="profile-head">
              <h5>Name of the Student</h5>
              <h6>Vidyalankar Institute of Technology</h6>

              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="home-tab"
                    data-toggle="tab"
                    href="#home"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="profile-tab"
                    data-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                    >Internships</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <input
              type="submit"
              class="profile-edit-btn"
              name="btnAddMore"
              value="Download Record"
              style="background-color: #266150; color: #fff"
            />
            <p><br /></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="row">
                  <div class="col-md-6">
                    <label>Roll Number</label>
                  </div>
                  <div class="col-md-6">
                    <p>19102B0030</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Full Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>Kshiti Ghelani</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>kshitighelani@gmail.com</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Mobile Number</label>
                  </div>
                  <div class="col-md-6">
                    <p>123 456 7890</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Branch</label>
                  </div>
                  <div class="col-md-6">
                    <p>CMPN</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Division</label>
                  </div>
                  <div class="col-md-6">
                    <p>B</p>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <div class="row">
                    <div class="card text-center col-11" style="margin: 3%;">
                        <div class="card-header" style="background-color: #fff;color: #266150; font-weight: bold;">
                          Company Name
                        </div>
                        <div class="card-body">
                          <h5 class="card-title" style="font-style: italic;">Domain</h5>
                          <p class="card-text" style="color: black;">
                              Source of Internship - 
                              <br>
                              Rating - 
                          </p>
                          <a href="#" class="btn btn-primary" style="background-color:#266150; color: #fff;">Completion Certicate</a>
                          
                        </div>
                        <div class="card-footer text-muted" style="background-color: #fff;color: #266150;">
                          start date - end date
                        </div>
                      </div>

                      <div class="card text-center col-11" style="margin: 3%;">
                        <div class="card-header" style="background-color: #fff;color: #266150; font-weight: bold;">
                          Company Name
                        </div>
                        <div class="card-body">
                          <h5 class="card-title" style="font-style: italic;">Domain</h5>
                          <p class="card-text" style="color: black;">
                              Source of Internship - 
                              <br>
                              Rating - 
                          </p>
                          <a href="#" class="btn btn-primary" style="background-color:#266150; color: #fff;">Completion Certicate</a>
                          
                        </div>
                        <div class="card-footer text-muted" style="background-color: #fff;color: #266150;">
                          start date - end date
                        </div>
                      </div>

                      <div class="card text-center col-11" style="margin: 3%;">
                        <div class="card-header" style="background-color: #fff;color: #266150; font-weight: bold;">
                          Company Name
                        </div>
                        <div class="card-body">
                          <h5 class="card-title" style="font-style: italic;">Domain</h5>
                          <p class="card-text" style="color: black;">
                              Source of Internship - 
                              <br>
                              Rating - 
                          </p>
                          <a href="#" class="btn btn-primary" style="background-color:#266150; color: #fff;">Completion Certicate</a>
                          
                        </div>
                        <div class="card-footer text-muted" style="background-color: #fff;color: #266150;">
                          start date - end date
                        </div>
                      </div>
                    </div>
                </div>
                
                
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-4 offset-1 col-sm-2">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li><a href="./aboutus.html">About</a></li>
              <li><a href="./contactus.html">Contact</a></li>
            </ul>
          </div>
          <div class="col-7 col-sm-5">
            <h5>Our Address</h5>
            <address>
              Vidyalankar Institute of Technology<br />
              Wadala, Mumbai<br />
              India<br />
              <i class="fa fa-phone fa-lg"></i> +852 1234 5678<br />
              <i class="fa fa-fax fa-lg"></i> +852 8765 4321<br />
              <i class="fa fa-envelope fa-lg"></i>
              <a href="https://vit.edu.in/">vit.edu.in</a>
            </address>
          </div>

          <div class="col-12 col-sm-4 align-self-center">
            <div class="text-center">
              <a
                class="btn btn-social-icon btn-google"
                href="http://google.com/+"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a
                class="btn btn-social-icon btn-facebook"
                href="http://www.facebook.com/profile.php?id="
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                class="btn btn-social-icon btn-linkedin"
                href="http://www.linkedin.com/in/"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                class="btn btn-social-icon btn-twitter"
                href="http://twitter.com/"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                class="btn btn-social-icon btn-google"
                href="http://youtube.com/"
                ><i class="fa fa-youtube"></i
              ></a>
              <a class="btn btn-social-icon" href="mailto:"
                ><i class="fa fa-envelope-o"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12">
            <p>© Copyright 2021 Vidyalankar Institute of Technology</p>
          </div>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
