<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/search.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <title>Internship Portal</title>
  </head>
  <body style="background-color: #e8cebf">
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
      <div class="wrap"></div>
      <div class="container-fluid all-show">
        <a class="navbar-brand" href="#" style="color: #C1C8E4 "
          >Internship Portal</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"> Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newinternship"
                ><i class="fa fa-plus"> New Internship</i></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile"
                ><i class="fa fa-user"> User</i></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search"
                ><i class="fa fa-search"> Search</i></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus"
                ><i class="fa fa-info-circle"> About us</i></a
              >
            </li>

            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login"
                ><i class="fa fa-sign-in"> Login</i></a
              >
            </li>
            {% endif %} {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i class="fa fa-sign-out"> Logout</i></a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="s009 col-12 col-lg-6" style="background-color: #e8cebf">
          <form method="POST">
            <div class="inner-form">
              <div class="basic-search">
                <div class="input-field">
                  <input
                    id="search"
                    type="text"
                    placeholder="Type Company Name or Domain"
                    name="searchname"
                  />
                  <div class="icon-wrap">
                    <svg
                      class="svg-inline--fa fa-search fa-w-16"
                      fill="#ccc"
                      aria-hidden="true"
                      data-prefix="fas"
                      data-icon="search"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="advance-search">
                <span class="desc">ADVANCED SEARCH</span>
                <div class="row">
                  <div class="input-field">
                    <div class="input-select">
                      <select data-trigger="" name="dept">
                        <option placeholder="" name="dept" value="">
                          Department
                        </option>
                        <option value="CMPN" name="dept">CMPN</option>
                        <option value="IT" name="dept">IT</option>
                        <option value="EXTC" name="dept">EXTC</option>
                        <option value="ETRX" name="dept">ETRX</option>
                        <option value="BIOMED" name="dept">BIOMED</option>
                      </select>
                    </div>
                  </div>
                  <div class="input-field">
                    <div class="input-select">
                      <select data-trigger="" name="div">
                        <option placeholder="" value="" name="div">
                          Division
                        </option>
                        <option value="A" name="div">A</option>
                        <option value="B" name="div">B</option>
                      </select>
                    </div>
                  </div>
                  <div class="input-field">
                    <div class="input-select">
                      <select data-trigger="" name="year">
                        <option placeholder="" value="" name="year">
                          Year
                        </option>
                        <option value="FE" name="year">FE</option>
                        <option value="SE" name="year">SE</option>
                        <option value="TE" name="year">TE</option>
                        <option value="BE" name="year">BE</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row second">
                  <div class="input-field-date">
                    <label for="startdate">Start Date</label>
                    <input  id="startdate" type="date" name="startdate"/>
                  </div>
                  <div class="input-field-date">
                    <label for="enddate">End Date</label>
                    <input type="date"  id="enddate" name="enddate" />
                    
                  </div>
                  
                </div>
                <div class="row third">
                  <div class="input-field">
                    <div class="group-btn">
                      <button class="btn-delete" id="delete">RESET</button>
                      <button
                        type="reset"
                        formaction="/searchstudents"
                        class="btn-search"
                        style="background-color: #266150"
                      >
                        SEARCH
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- List of Students -->

        <div
          class="
            row
            d-flex
            justify-content-center
            mt-100
            mb-100
            col-12 col-lg-6
          "
        >
          <div class="col-12 col-lg-12">
            <div class="card">
              <a class="downloadlistbutton" href="#">Download Students List</a>
              <div class="card-body text-center">
                <h4 class="card-title m-b-0">Students</h4>
              </div>
              <ul class="list-style-none">
                <li class="d-flex no-block card-body">
                  <i class="fa fa-check-circle w-30px m-t-5"></i>
                  <div>
                    <a
                      href="/profile/student_id"
                      class="m-b-0 font-medium p-0"
                      data-abc="true"
                      >Student Name</a
                    >
                    <div class="text-muted">
                      Comapany Namebkbuihvioigoihgiaubuababvp
                    </div>
                    <div class="text-muted">Domain</div>
                    <hr />
                    <div class="text-muted">Comapany Name - 2</div>
                    <div class="text-muted">Domain</div>
                  </div>
  
                </li>

                <li class="d-flex no-block card-body">
                  <i class="fa fa-check-circle w-30px m-t-5"></i>
                  <div>
                    <a href="#" class="m-b-0 font-medium p-0" data-abc="true"
                      >Student Name</a
                    >
                    <div class="text-muted">Comapany Name</div>
                    <div class="text-muted">Domain</div>
                  </div>

                </li>

                <li class="d-flex no-block card-body">
                  <i class="fa fa-check-circle w-30px m-t-5"></i>
                  <div>
                    <a href="#" class="m-b-0 font-medium p-0" data-abc="true"
                      >Student Name</a
                    >
                    <span class="text-muted">Comapany Name </span>
                    <div class="text-muted">Domain</div>
                  </div>
                </li>

                <li class="d-flex no-block card-body">
                  <i class="fa fa-check-circle w-30px m-t-5"></i>
                  <div>
                    <a href="#" class="m-b-0 font-medium p-0" data-abc="true"
                      >Student Name</a
                    >
                    <div class="text-muted">Comapany Name</div>
                    <div class="text-muted">Domain</div>
                  </div>
                </li>

                <li class="d-flex no-block card-body">
                  <i class="fa fa-check-circle w-30px m-t-5"></i>
                  <div>
                    <a href="#" class="m-b-0 font-medium p-0" data-abc="true"
                      >Student Name</a
                    >
                    <div class="text-muted">Comapany Name</div>
                    <div class="text-muted">Domain</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p>
      <br />
    </p>

    <script src="../static/js/extention/choices.js"></script>
    <script>
      const customSelects = document.querySelectorAll("select");
      const deleteBtn = document.getElementById("delete");
      const choices = new Choices("select", {
        searchEnabled: false,
        itemSelectText: "",
        removeItemButton: true,
      });
      deleteBtn.addEventListener("click", function (e) {
        e.preventDefault();
        const deleteAll = document.querySelectorAll(".choices__button");
        for (let i = 0; i < deleteAll.length; i++) {
          deleteAll[i].click();
        }
      });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
