<html>
    <head>
        <title>{{current_user.fullname}}'s Record</title>
        
    </head>
    <body>
        <h1>VIT Internship Portal</h1>
        <div style="font-size: medium;" class ="gen">
            <p>
                <h1>About</h1>
                <p>
                    <br>
                </p>
                <h2>Name : {{ current_user.fullname }}
                <br>
                Roll No. : {{current_user.rollno}}
                </h2>
                <h3>
                <br>
                Email : {{ current_user.email }}
                <br>
                Mobile Number : {{ current_user.mobileno }}
                <br>
                Branch : {{current_user.dept}}
                <br>
                Division : {{ student.mobno }}
                <br>
                Email Id : {{ student.email }}
                <br>
                Graduating Year : {{student.yog}}
                <br>
                Department : {{ student.dept }}
                <br>
                Division : {{student.div }}
                <br>
                Batch Number : {{current_user.div}}
                <br>
                </h3>
                <br>

            </p>
        </div>
            <br>
        <div style="font-size: medium;" class ="edu">
                <p>
                    <h1>Internship Details</h1>
                    <p>
                        <br>
                    </p>
                    <h3>Junior College name : {{ student.cllg }}
                    <br>
                    Junior College Board : {{ student.cllgboard }}
                    <br>
                    12th Marks : {{ student.marks12 }}
                    <br>
                    Year of 12th Completion : {{ student.comps12}}
                    <br>
                    School Name : {{student.school }}
                    <br>
                    School Board: {{ student.schoolboard }}
                    <br>
                    10th Marks : {{ student.marks10 }}
                    <br>
                    Year of 10th Completion : {{ student.comps10 }}</h3>
                    <br>
                </p>
        </div>
        <div style="font-size: medium;" class="docs">
            <p>
                <h1>Documents</h1>
                <p>
                    <br>
                </p>
                <h3>12th Marksheet : {{ student.marksheet12name }}
                <br>
                10th Marksheet : {{ student.marksheet10name }}
                <br>
                Last SemesterMarksheet : {{ student.marksheetlastsemname }}</h3>
                <br>


            </p>
        </div>
        </body>
</html>